 


    <section class="section section--page">
        <div class="page__inner d-flex">
            <div class="text-box">
                <div d-flex>
                    <h3>Chiffre : Niveau 1</h3>
                    <div id="game-wrapper">
                    </div>

                </div>
                <div class="tigre">
                    <img src="assets/images/deco/tigre-bleu-lg.svg" alt="tigre bleu">
                </div>
    </section>
    <script src="JS/phaser.min.js"></script>
    <script src="JS/Chiffres2.js" ></script>
 